
/*https://coolors.co/0d0d14-cfdbd5-010022-3e92cc-2a628f
*/

@font-face {
    font-family: CaveStory;
    src: url(resources/Cave_Story.ttf);
}

html {
    min-height: 100%;
    background-color: #0d0d14;
}

body {
    display: grid;
    margin: 0;
    color: #d0e4e6;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

main {
    padding-top: 1.25em;
    justify-self: center;
    padding-left: 15%;
    padding-right: 15%;
    width: fit-content;
    min-width: 50%;
}

section {
    padding: 1em;
    padding-top: 0;
    border-width: 5px;
    border-color: #2a628f;
    border-style: solid;
    background-color: #010022;
    margin-bottom: 1em;
}

h1 {
    text-align: center;
    padding-bottom: 0.25em;
    text-decoration: underline;
    color: white;
    font-size: xx-large;
}

h2 {
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    color: white;
    border-bottom: 1px solid white;
}

p {
    line-height: 135%;
}

a {
    color: #3891d1;
    text-decoration: none;
}

a:visited {
    color: #2a628f;
}

code {
    font-family: monospace;
    font-size: 125%;
    font-kerning: none;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    font-family: CaveStory;
    height: 3.5em;
    width: 100%;
    background-color: #010022;
}

nav {
    display: flex;
    width: 100%;
    justify-content: right;
}

nav a {
    color: white;
    font-size: 4em;
    text-decoration: none;
    padding-left: 0.25em;
    padding-right: 0.25em;
    height: 100%;
    align-content: center;
}

nav a:visited {
    color: white;
}

nav a:hover {
    background-color: #2A628F;
}

.nearest {
    image-rendering: pixelated;
}

.logo {
    image-rendering: pixelated;
    height: 3.5em;
}

.logo-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 3.5em;
}

.logo-hover:hover {
    opacity: 1;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    border-radius: 12em;
}

table {
    width: 100%;
}

td + td {
    text-align: right;
    width: max-content;
}