#chess-board {
    border: 2px solid black;
    width: min-content;
    background-color: grey;
}

.board-square {
    width: 60px;
    height: 60px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: 1px solid black;
    border-radius: 8px;
}

.light-square {
    background-color: wheat;
}

.dark-square {
    background-color: rgb(54, 54, 189);
}

.selected-square {
    background-color: rgb(238, 39, 39);
}

.possible-move-square {
    background-color: rgb(34, 238, 204);
}

.rank {
    display: flex;
}

.chess-piece {
    padding: 0;
    width: 60px;
    height: 60px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}