.sidebar {
	top: 0;
	left: 0;
	float: left;
	overflow-x: hidden;
}
.mainpage {
	margin-left: 20%;
}
.tierrow {
	height: 100px;
	border-spacing: 0px;
	display: block;
	border-width: 2px;
	border-color: black;
	border-style: solid;
}
.tiertitle {
	height: 100px;
	width: 50px;
	text-align: center;
	word-wrap: normal;
	padding: 0px;
	cursor: pointer;
}
.tierslot {
	height: 100px;
	width: 600px;
	background-color: #444;
}
.tierlist {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	display: inline-flex;
}
.char-image {
	width: 100px;
	height: 100px;
}
.clickbutton {
	cursor: pointer;
}
.colorbutton1 {background-color: red;}
.colorbutton2 {background-color: orange;}
.colorbutton3 {background-color: yellow;}
.colorbutton4 {background-color: green;}
.colorbutton5 {background-color: blue;}
.colorbutton6 {background-color: purple;}
.colorbutton7 {background-color: black;}
.colorbutton8 {background-color: white;}